.pay {
  padding: 2rem;
  box-shadow: 0 5px 25px rgba(120, 120, 120, 0.3);
  border-radius: 15px;
}

.price,
.totalPrice {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price p {
  color: #666;
}

.price p:last-child {
  font-family: iranyekan;
}

.totalPrice p:first-child {
  color: #666;
}

.totalPrice p:last-child {
  color: #fa4c4c;
  font-family: iranyekan;
}

.pay small {
  border-bottom: 1px solid #ccc;
  color: #999;
  display: block;
  padding-bottom: 10px;
}

.payBtn {
  margin-top: 1rem;
  width: 100%;
  padding: 8px;
  background-color: #fa4c4c;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.payBtn:hover {
  transform: scale(1.1);
}
