.productCard {
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(120, 120, 120, 0.2);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.productCard:hover {
  box-shadow: 0 5px 20px rgba(120, 120, 120, 0.4);
}

.cardImage {
  text-align: center;
  position: relative;
}

.cardImage img {
  max-width: 100%;
}

.cardTitle h3 {
  color: #0a1e35;
  font-size: 0.9rem;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardTitle small {
  color: #0a1e3567;
  font-size: 1rem;
}

.productInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.productDetails {
  display: block;
  text-align: center;
  background-color: #fa4c4c;
  color: #fff;
  font-size: 1rem;
  padding: 8px 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.productDetails:hover {
  background-color: #c52f2f;
}

.discount {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  top: 0;
  left: 0;
  font-size: 1rem;
  background-image: url("../../assets/img/discount.png");
  background-size: cover;
  color: #fff;
  border-radius: 50%;
  font-family: iranyekan;
}

.prieContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price {
  color: #666;
  font-family: iranyekan;
}

.oldPrice {
  display: flex;
  top: -20px;
  left: 0;
  position: absolute;
  color: #bbbbbb;
  font-family: iranyekan;
  text-decoration: line-through;
  font-size: 0.9rem;
}

.star {
  position: relative;
  display: inline-block;
}

.rating {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.star::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.rating::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffc300;
}

@media (max-width: 560px) {
  .cardImage img {
    width: 250px;
  }
}
