.service {
    padding: 1rem;
    box-shadow: 0 4px 15px rgba(120, 120, 120, .3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service h4 {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 5px;
}

.service p {
    color: rgba(102, 102, 102, 0.644);
}
