.Categories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* overflow: auto; */
  flex-wrap: wrap;
}

.Categories a {
  text-align: center;
  transition: all 0.3s ease;
}

.Categories a:hover {
  transform: translateY(-10px);
}

.Categories a:hover p {
  color: #5463ff;
}

.Categories p {
  color: #666;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .Categories {
    margin-top: 1rem;
  }
}

.CategoryItem {
  text-align: center;
  background-color: #eee !important;
  border-radius: 5px;
  border: 1px solid #efdede;
  padding: 20px;
  height: 280px;
  margin: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CategoryItem img {
  height: 180px;
}

.productDetails {
  display: block;
  text-align: center;
  background-color: #fa4c4c;
  color: #fff;
  font-size: 1rem;
  padding: 8px 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.productDetails:hover {
  background-color: #c52f2f;
}
