.shopPage {
    display: flex;
    flex-wrap: wrap;
}

.filterContainer {
    flex:0 0 20%;
    padding: 0 15px;
}

.mainContainer {
    flex: 0 0 80%;
    padding: 0 15px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

@media (max-width:990px) {
    .mainContainer{
        flex: 0 0 100%;
    }
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:768px) {
    .products {
        grid-template-columns: 1fr;
    }
}