@font-face {
    font-family: yekanbakhmedium;
    src: url(./assets/font/YekanBakhMedium.woff) format("woff");
}
@font-face {
    font-family: iranyekan;
    src: url(./assets/font/iranyekanwebmediumfanum.woff) format("woff");
}